<!DOCTYPE html>
<html>
<head>
  <title>HesburghErrors</title>
  <%= stylesheet_link_tag    "hesburgh_errors/application", media: "all" %>
  <%= javascript_include_tag "hesburgh_errors/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
