<h1>Error 404: Page Not Found</h1>
<p>
  The page you were looking for could not be found. You may have mistyped the address or the page may have moved.
</p>
<%= render partial: "hesburgh_errors/errors/error_help_message" %>
